@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
margin: 0;
padding: 0;
}

body{
    margin: 4vh 10vw;
}

nav{
display:flex;
justify-content: space-between;
font-family: 'Bangers', cursive;
}

.titulo{
    text-align: center;
    font-family: 'Bangers', cursive;
    color: #0D6301;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.center{
    text-align: center;
    color:black;
    font-size: 20px
}

body{
background-color: rgb(255, 213, 0);

}

.container{
display: flex;
flex-flow: row;
justify-content: center;
margin-bottom: 50px;
}

ul{
list-style: nome;
display: flex
}

li{
display: inline;
margin-right: 30px;

}
/* menu */
a {
    text-decoration: none;
    color:#0D6301;
    font-size:  35px;
  }

  /* sombreado menu */
a:hover{

    color: rgb(0, 48, 20);
}
.perfil {
    display: flex;
    background-color: #fffb00;
    padding: 20px;
    border-radius: 16px;
    align-items: center;
}
.video {
    width: 42vw;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 37px;
    
  }
  .foto-video{
    margin-left: 1000px;
    width: 350px;
    height: 300px;


  }

.p-30{
    padding: 30px;
}

p{
    color:#0D6301;
    font-size: 50px
}

.primeiro{
color:#ffee00;
font-size: 25px;
text-align: left;
margin-left: 15px;
}

.segunda{
    color:#ffee00;
    font-size: 25px;
    text-align: left;
    margin-left: 15px;
    
}


.foto {
    width: 400px;
    height: 500px;
    border-radius: 10%;
    margin-top: 20px;
    margin-right: 20px;
}


.tm-social{
width: 50px;
height: 50px;
}

.mb-50{
    margin-bottom: 50px;
}
.ml-50{

    margin-left: 50px;
}

.container1{
    display: flex;
    flex-flow: row;
   
    margin-bottom: 50px;
    margin-top: 50px;
    
}
.fundo{
background-color: blue;
border-radius: 10px;
margin-right: 10px;

}

input,textarea{
border:2px solid #0D6301;

}




/* unidades de medidad do css
px -> unidade absoluta
% -> unidade relativa
viewUnits -> vw (largura)/vh (altura) -> unidade relativa (vai de 0 a 100)
rem -> do tamanho da letra M maiuscula do navegador do usuario */